$backgroundColor: #020402;
$textColor: #f1fffa;


* {
    box-sizing: border-box;
    padding-top: 0%;
    font-family: "League Spartan", sans-serif;
    background-color: $backgroundColor;
    color: $textColor;
}