$backgroundColor: #010801;
$textColor: #e1ece8;


* {
    box-sizing: border-box;
    padding-top: 0%;
    font-family: "League Spartan", sans-serif;
    background-color: $backgroundColor;
    color: $textColor;
}